
@{
    ViewBag.Title = "main";
}

<div class="outter-wp">
    <!--custom-widgets-->
    <div class="custom-widgets">
        <div class="row-one">
            <div class="col-md-3 widget">
                <div class="stats-left ">
                    <h5>单据</h5>
                    <h4> 待核</h4>
                </div>
                <div class="stats-right">
                    <label>91</label>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 widget states-mdl">
                <div class="stats-left">
                    <h5>单据</h5>
                    <h4>已核</h4>
                </div>
                <div class="stats-right">
                    <label> 85</label>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 widget states-thrd">
                <div class="stats-left">
                    <h5>单据</h5>
                    <h4>完成</h4>
                </div>
                <div class="stats-right">
                    <label>51</label>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 widget states-last">
                <div class="stats-left">
                    <h5>我的</h5>
                    <h4>请求</h4>
                </div>
                <div class="stats-right">
                    <label>30</label>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//custom-widgets-->
    <!--/candile-->
    <div class="candile">


    </div>
    <!--/candile-->
    <!--/charts-->
    <div class="charts">
        <div class="chrt-inner">

            <!--/float-charts-->
            <!--//weather-charts-->
            <div class="graph-visualization">
                <div class="col-md-6 map-1">
                    <h3 class="sub-tittle">天气 </h3>
                    <div class="weather">
                        <div class="weather-top">
                            <div class="weather-top-left">
                                <div class="degree">
                                    <figure class="icons">
                                        <canvas id="partly-cloudy-day" width="64" height="64"></canvas>
                                    </figure>
                                    <span>37°</span>
                                    <div class="clearfix"></div>
                                </div>
                                <script>
                                    var icons = new Skycons({ "color": "#002561" }),
                                        list = [
                                            "clear-night", "partly-cloudy-day",
                                            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                            "fog"
                                        ],
                                        i;

                                    for (i = list.length; i--;)
                                        icons.set(list[i], list[i]);

                                    icons.play();
                                </script>
                                <p>
                                    星期日
                                    <label></label>
                                    <sup></sup>

                                </p>
                            </div>
                            <div class="weather-top-right">
                                <p><i class="fa fa-map-marker"></i>位置</p>
                                <label></label>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="weather-bottom">
                            <div class="weather-bottom1">
                                <div class="weather-head">
                                    <h4>多云</h4>
                                    <figure class="icons">
                                        <canvas id="cloudy" width="40" height="40"></canvas>
                                    </figure>
                                    <script>
                                        var icons = new Skycons({ "color": "#00C6D7" }),
                                            list = [
                                                "clear-night", "cloudy",
                                                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                                "fog"
                                            ],
                                            i;

                                        for (i = list.length; i--;)
                                            icons.set(list[i], list[i]);

                                        icons.play();
                                    </script>
                                    <h6>20°</h6>
                                    <div class="bottom-head">
                                        <p>星期一</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weather-bottom1 ">
                                <div class="weather-head">
                                    <h4>阳光</h4>
                                    <figure class="icons">
                                        <canvas id="clear-day" width="40" height="40"></canvas>

                                    </figure>
                                    <script>
                                        var icons = new Skycons({ "color": "#00C6D7" }),
                                            list = [
                                                "clear-night", "clear-day",
                                                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                                "fog"
                                            ],
                                            i;

                                        for (i = list.length; i--;)
                                            icons.set(list[i], list[i]);

                                        icons.play();
                                    </script>
                                    <h6>37°</h6>
                                    <div class="bottom-head">
                                        <p>星期二</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weather-bottom1">
                                <div class="weather-head">
                                    <h4>下雨</h4>
                                    <figure class="icons">
                                        <canvas id="sleet" width="40" height="40"></canvas>
                                    </figure>
                                    <script>
                                        var icons = new Skycons({ "color": "#00C6D7" }),
                                            list = [
                                                "clear-night", "clear-day",
                                                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                                "fog"
                                            ],
                                            i;

                                        for (i = list.length; i--;)
                                            icons.set(list[i], list[i]);

                                        icons.play();
                                    </script>

                                    <h6>7°</h6>
                                    <div class="bottom-head">
                                        <p>星期三</p>
                                    </div>
                                </div>
                            </div>
                            <div class="weather-bottom1 ">
                                <div class="weather-head">
                                    <h4>下雪</h4>
                                    <figure class="icons">
                                        <canvas id="snow" width="40" height="40"></canvas>
                                    </figure>
                                    <script>
                                        var icons = new Skycons({ "color": "#00C6D7" }),
                                            list = [
                                                "clear-night", "clear-day",
                                                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                                "fog"
                                            ],
                                            i;

                                        for (i = list.length; i--;)
                                            icons.set(list[i], list[i]);

                                        icons.play();
                                    </script>
                                    <h6>-10°</h6>
                                    <div class="bottom-head">
                                        <p>星期四</p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-6 map-2">
                    <div class="profile-nav alt">
                        <section class="panel">
                            <div class="user-heading alt clock-row terques-bg">
                                <h3 class="sub-tittle clock"> </h3>
                            </div>
                            <ul id="clock">
                                <li id="sec"></li>
                                <li id="hour"></li>
                                <li id="min"></li>
                            </ul>

                            <ul class="clock-category">
                                <li>
                                    <a href="#" class="active">
                                        <img src="images/time.png" alt="">
                                        <span>日程</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/alarm.png" alt="">
                                        <span>会议</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/watch.png" alt="">
                                        <span>提醒</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/timer.png" alt="">
                                        <span>重要</span>
                                    </a>
                                </li>
                            </ul>

                        </section>

                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

            <!--//charts-->
            <!--/bottom-grids-->
            <div class="bottom-grids">

            </div>
            <!--//bottom-grids-->

        </div>
        <!--/charts-inner-->
    </div>
    <!--//outer-wp-->
</div>
