<div id="app">

    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="#" onclick='$("#div1").load("/pdskc/Index.html")'>库存管理</a></li>
            <li><a href="#" onclick='$("#div1").load("/pdskc/CheckDepot.html")'>库存盘点</a></li>
            <li><a href="#">增加盘点单</a></li>



        </ol>
    </div>
    <div class="">
        <div class="outter-wp">
            <div class="mygraph-form row">
                <table class="table table-striped table-bordered  table-condensed">
                    <thead>
                        <tr class="active">
                            <th colspan="4">
                                <div align="center"><h4 style="margin-top:0px;margin-bottom:0px">单据信息</h4></div>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td width="27%">
                            <div align="right">
                                <strong>盘点编号：</strong>
                            </div>
                        </td>
                        <td width="27%">
                            <div align="left">
                                PD0001
                            </div>
                        </td>
                        <td width="7%">
                            <div align="right">
                                <strong>盘库仓库：</strong>
                            </div>
                        </td>
                        <td width="39%">
                            <div align="left">
                                <select class="form-control">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="27%">
                            <div align="right">
                                <strong>盘点时间：</strong>
                            </div>
                        </td>
                        <td width="27%">
                            <div align="left">
                                <input type="date" class="form-control" />
                            </div>
                        </td>
                        <td width="7%">
                            <div align="right">
                                <strong>商品分类：</strong>
                            </div>
                        </td>
                        <td width="39%">
                            <div align="left">
                                <select class="form-control">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center">
                            <div class="btn-group-sm" role="group" align="center">

                                <button type="button" class="btn btn-warm" v-on:click="ShowPage()" style="margin-top:0px; margin-bottom:0px">
                                    <span class="glyphicon glyphicon-plus"></span> 导入详细信息
                                </button>
                            </div>
                       
                        </td>
                    </tr>
                </table>

            </div>
            <div style="margin:10px;">
                <hr />
            </div>
            <div class="mygraph-form row">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr class="active">
                            <th colspan="9" scope="col">
                                <div align="center"><h4 style="margin-top:0px;margin-bottom:0px">商品信息</h4></div>
                            </th>
                        </tr>
                        <tr>
                            <td width="9%" scope="col">
                                <div align="center">
                                    编号
                                </div>
                            </td>
                            <td width="10%" scope="col">
                                <div align="center">
                                    名称
                                </div>
                            </td>
                            <td width="9%" scope="col">
                                <div align="center">
                                    类别
                                </div>
                            </td>
                            <td width="8%" scope="col">
                                <div align="center">
                                    颜色
                                </div>
                            </td>
                            <td width="9%" scope="col">
                                <div align="center">
                                    价格
                                </div>
                            </td>
                            <td width="13%" scope="col">
                                <div align="center">
                                    数量
                                </div>
                            </td>
                            <td width="12%" scope="col">
                                <div align="center">
                                    盘点数
                                </div>
                            </td>
                            <td width="12%" scope="col">
                                <div align="center">
                                    盈亏
                                </div>
                            </td>
                            <td width="18%" scope="col">
                                <div align="center">
                                    操作
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                      
                        <tr>
                            <td scope="col">
                                <div align="center">
                                    001
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    安踏外套
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    上衣
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    红色
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    50.00
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    5
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    <input type="number" class="form-control" value="5"/>
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    0.00
                                </div>
                            </td>
                            <td scope="col">
                                <a href="javascript:;">删行</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <div align="center">
                                    002
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    安踏T恤
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    上衣
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    白色
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    60.00
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    5
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    <input type="number" class="form-control" value="10"/>
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    300.00
                                </div>
                            </td>
                            <td scope="col">
                                <a href="javascript:;">删行</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <div align="center">
                                    001
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    安踏袜子
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    袜子
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    黑色
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    10.00
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    5
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    <input type="number" class="form-control" value="5"/>
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    0.00
                                </div>
                            </td>
                            <td scope="col">
                                <a href="javascript:;">删行</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col">
                                <div align="center">
                                    001
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    安踏运动鞋
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    鞋子
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    红色
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    280
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    5
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    <input type="number" class="form-control" value="1"/>
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    -1120.00
                                </div>
                            </td>
                            <td scope="col">
                                <a href="javascript:;">删行</a>
                            </td>
                        </tr>
                        <!--<tr>
                             <td> </td>
                            <td scope="col">
                                <div align="center">
                                    001
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    安踏外套
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    上衣
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    红色
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    50.00
                                </div>
                            </td>
                            <td scope="col">
                                <div align="center">
                                    5
                                </div>
                            </td>
                            <td scope="col">
                                <div align="right">
                                    250.00
                                </div>
                            </td>
                            <td><a href="javascript:;">删行</a> </td>
                        </tr>-->

                    </tbody>

                    <tr>

                        <td colspan="9">
                            <div align="right">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">合计￥</div>
                                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" readonly="readonly" style="background-color:#ffffff">
                                            <div class="input-group-addon">元</div>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </td>

                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="9">
                                <div class="btn-group-sm" role="group" align="right">
                                   
                                    <button type="button" class="btn btn-success" v-on:click="ShowPage()">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        保存
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>

</div>